# === Secretos ===
.env

# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# === Entornos virtuales ===
venv/
ENV/
env/
.venv/

# === IDEs ===
.vscode/
.idea/
*.swp
*.swo

# === Datos ===
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# === Notebooks checkpoints ===
.ipynb_checkpoints/

# === OS ===
.DS_Store
Thumbs.db